@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: var(--foreground);
}
:root {
  --background: 0 0% 96%;
  --foreground: 170 66% 13%;
  --primary: 170 100% 26%;
  --black: 170 66% 13%;
}

body {
  width: 100dvw;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 170 100% 26%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --black: 170 66% 13%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.category-header-item:hover img {
  filter: invert(1);
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

.article,article {
  padding: 0 4px
}

@media only screen and (min-width: 768px) {
  .article,article {
      padding:0 16px
  }
}

.article p,article p {
  @apply text-foreground/70;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 20px
}

.article p:first-letter,article p:first-letter {
  text-transform: capitalize
}

.article p:last-of-type,article p:last-of-type {
  margin-bottom: 0
}

.article h1,.article h2,.article h3,article h1,article h2,article h3 {
  font-weight: 600;
  line-height: 1;
  margin: 10px 0 20px
}

.article h1,article h1 {
  font-size: 36px
}

.article h2,article h2 {
  font-size: 32px
}

.article h3,article h3 {
  font-size: 24px
}

.article ol,.article ul,article ol,article ul {
  margin: 10px 0 40px
}

.article ol li,.article ul li,article ol li,article ul li {
  @apply text-foreground/70;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  list-style: disc;
  margin-bottom: 8px;
  margin-left: 20px
}

.article ol li:first-letter,.article ul li:first-letter,article ol li:first-letter,article ul li:first-letter {
  text-transform: capitalize
}

.article ol li,article ol li {
  list-style: auto
}

.article a,article a {
  color: var(--color-primary);
  font-weight: 600
}

