@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: var(--foreground);
}
:root {
  --background: #f5f5f5;
  --foreground: 170 66% 13%;
  --primary: 170 100% 26%;
  --black: 170 66% 13%;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f5f5f5;
  }
} */

body {
  width: 100dvw;
  overflow-x: hidden;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
